.container {
    display: flex;
    padding: 20px 20px 0 20px;
}

.select {
    width: 175px;
}

.customisePanel {
    margin-right: 50px;
}

.customiseSection {
    margin-bottom: 20px;
}

.customiseSection h4 {
    margin-bottom: 5px;
}

.button {
    background-color: #5F01FF;
    color: white;
    border-radius: 7px;
    border: none;
    padding: 7px 30px 7px 30px;
    margin-top: 15px;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:hover {
    transform: scale(1.09);
}

.arrow {
    size: 40px;
    margin-left: 10px;
    fill: white;
}